html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}
body{
	width: 100%;
	margin: 0 auto;	
	padding: 0;
	font-family: 'Cuprum', Arial ,sans-serif;
	font-size: 13px;
	line-height: 24px;
	background-color: #ffffff;

	}
body ul{
	padding-left: 0px;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
.header_nav{
	display: flex;	
	background-color: #293449; 
}
.email{
	color:#ffffff;
	font-style: normal;	
}
.visually_hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*Верхнее меню поиска*/
.nav_top{
	list-style: none;
	font-size: 17px;
	line-height: 18px;
	margin-bottom: 0px;
	margin-top: 0px;
	display: flex;
	justify-content: space-between;

}
.nav_top a:not(.issue){
	background-color:#293449;
	color: #ffffff;
}
.nav_top a:hover:not(.issue),
.nav_top a:focus:not(.issue){
	background-color: #212a3a;
	outline-color: #FF0000;
}
.nav_top a:active:not(.issue){
	color: rgba(255,255,255,0.6);
	background-color: #161d29;
}	
.issue{
	background-color:#63a63e;
	color: #ffffff;
}
.issue:hover,
.issue:focus{
	background-color: #5fbb2d;
	outline-color: #FF0000;	
}
.issue:active{
	background-color:#518534;
	color:rgba(255,255,255,0.5);
}

/*Нижнее меню поиска*/	

.main_nav{
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.main_nav ul{
	list-style: none;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	justify-content: space-between;
}
.main_nav_list{
	width: 100%;
}
.main_nav a{
	background-color: #32425c;
	color: #ffffff;
	padding: 18px 40px;
	display: inline-block;
	height: 60px;
}
.main_nav a:hover,
.main_nav a:focus{
	background-color: #293449;
	outline-color: #FF0000;	
}	
.main_nav a:active{
	background-color: #1d2739;
	color:rgba(255,255,255,0.5);
}
.box_address{
	display: flex;
}
.info{
	margin-top:0;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}

.address{
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}
.authorization{
	font-size: 21px;
	line-height: 21px;
	list-style: none;
	display: flex;
}
.authorization a{
	color: #000000;
	line-height: 21px;
}
.authorization a:hover,
.authorization a:focus{
	color: #ee3643;
	outline-color: #FF0000;	
}
.authorization a:active{
	color: rgba(0,0,0,0.3);
}
.authorization_item{
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}
.breadcrumbs{
	list-style: none;
	line-height: 18px;
	display: flex;
		width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.breadcrumbs a{
	text-transform:uppercase;
	color:#000000;
	font-size: 13px;
	margin-left: 18px;
}
.gallery_filter{
	display: flex;
	justify-content: space-around;
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.h2_perforator{
	text-transform:uppercase;
	font-size:30px;
	line-height: 30px;
	color:#32425c;
	background-color: #f2f6f8;
	width: 960px;
	height: 89px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.catalog{
	list-style: none;
	width: 700px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}	
.catalog li{
	width: 220px;	
}
.buy{
	text-transform:uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color: #63a63e;
	color: #ffffff;
}
.buy:hover,
.buy:focus{
	background-color: #5fbb2d;
	outline-color: #FF0000;	
}
.buy:active{
		background-color: #518534;
}
.bookmarks{
	text-transform:uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color:#ffffff;
	border-color: #63a63e;
}
.bookmarks:hover,
.bookmarks:focus{
	font-size: 14px;
	line-height: 18px;
	border-color: #32425c;
	outline-color: #FF0000;	
}
.bookmarks:active{
	color: rgba(50,66,92,0.3);
	border-color: rgba(50,66,92,0.3);
	font-size: 14px;
	line-height: 18px;
}
.old_price{/*Старая цена без скидки(которая зачеркнута)*/
	font-size:17px;
	line-height: 18px;
	color: #999999;
	text-decoration:line-through;
}
.h3_perforator{
	font-size: 18px;
	line-height: 20px;
	font-weight:bold;
}
.new_price{
	height: 38px;
	width: 122px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 5px 0px 0px 5px;
}
.filter{
	text-transform:uppercase;
	list-style: none;
	line-height: 20px;
	font-size: 15px;
}
.filter legend{
	font-size: 17px;
	line-height: 30px;
	font-weight:bold;
	}

.filter button{
	text-transform:uppercase;
	font-size: 13px;
	width: 140px;
	height: 37px;
	background-color: #ffffff;
	border: #e5e5e5 1px solid;
}	
.footer_navigation{
	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px; 
}
.logo_site_menu{
	display: flex;
	justify-content: space-around;
		width: 950px;
}
.site_menu{
	list-style: none;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	justify-content: space-between;
	width: 550px; 
}
.site_menu a{
	color: #ffffff; 
}
.site_menu a:hover,
.site_menu a:focus{
	text-decoration: underline;
	outline-color: #FF0000;	
}
.site_menu a:active{
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
.catalog_menu{
	list-style: none;
	font-size: 18px;
	line-height: 24px;
	width: 524px;
	display: flex;
	justify-content: space-between;  
}
.catalog_menu a{
	color: #ffd180;  
}
.catalog_menu a:hover,
.catalog_menu a:focus{
	text-decoration: underline;
	outline-color: #FF0000;	
}
.catalog_menu a:active{
	color: rgba(153,138,110,0.5);
	text-decoration: none;
}
.footer_address{
	color: #f1f5f7;
	line-height: 24px;
}
.adress_catalog_menu{
	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px; 
}

.footer_inform{
	display: flex;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px; 
}

.footer_inform p{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}
.footer_inform a{
	font-size: 16px;
	color: #ffd180;
}
.footer_inform a:hover,
.footer_inform a:focus{
	text-decoration: underline;
	outline-color: #FF0000;	
}
.footer_inform a:active{
	text-decoration: none;
	color:#e13643;
}
.wrapper_about_company{
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px; 
	display: flex;

}


.about_company h2{
	font-size: 30px;
	line-height: 30px;
	text-transform:uppercase;
}
.about_company p{
	font-size: 13px;
	line-height: 24px;
}
.about_company li{
	font-size:18px;
	line-height: 20px;
	list-style-type: none; 
}
.about_company a{
	color: #ffffff;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
}
.about_company a:hover,
.about_company a:focus{
	background-color: #ca2c37;
	outline-color: #000080;
}
.about_company a:active{
	background-color: #ba2732;
}
.authorship_list{
	display: flex;
	justify-content: space-between;
}

/*РАБОТА С ЛОГОТИПОМ*/
.logo{
display: block;
margin-left: auto;
margin-right: auto;
}
.logo_header_cont{
width: 220px;
height: 47px;
padding-top: 13px;
background-color: #ee3643;
border-bottom: 5px solid #b72f38;	
}
.logo_header_cont:hover,
.logo_header_cont:focus{
background-color: #ca2c37;
border-bottom: 5px solid #9a212a;
}
.logo_header_cont:active{
background-color: #ba2732;
border-bottom: 5px solid #8e1e26;
}
.logo_footer_cont{
background-color: #ee3643;
border-bottom: 5px solid #b72f38;
height: 68px;
width: 220px;
padding-top: 21px; 
}
.logo_footer_cont:hover,
.logo_footer_cont:focus{
background-color: #ca2c37;
border-bottom: 5px solid #9a212a;
}
.logo_footer_cont:active{
background-color: #ba2732;
border-bottom: 5px solid #8e1e26;
}
.wrapper_logo{
	width: 960px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px; 
}
.wrapper_part_header{
	background-color: #f3f7f9;
}
.header_middle{	
	width: 960px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px; 
}
.wrapper_fnavigation{
	background-color: #32425c;
}
.wrapper_inform{
	background-color: #293449;
}
.header_address span{

	color:#ee3643;
	font-size: 21px;
	line-height: 21px;
}